@keyframes loading-rotate {
  100% {
    transform: rotate(1.5turn);
  }
}

.loading_mask {
  // position: fixed;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // background: #ffffff;
  z-index: 999;
  width: 100%;
  text-align: center;
  .loading_spinner {
    display: inline-block;
    animation: loading-rotate 1.5s linear infinite;
    .loading_text {
      font-size: 60px;
      color: #605d5d;
      height: 60px;
      width: 60px;
      display: inline-block;
    }
  }
}
