@font-face {
  font-family: "iconfont"; /* Project id 3818885 */
  src: url("iconfont.woff?t=1671087786016") format("woff"),
    url("iconfont.ttf?t=1671087786016") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e602";
}

.icon-shanchu:before {
  content: "\e6f0";
}

.icon-closefill:before {
  content: "\e6a6";
}

.icon-jiantou1:before {
  content: "\e623";
}

.icon-jiantou:before {
  content: "\e601";
}

.icon-jiantoushang1:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-jiantouxia:before {
  content: "\e62f";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-shangchuan-:before {
  content: "\e647";
}

.icon-31shezhi:before {
  content: "\e600";
}

.icon-maikefeng:before {
  content: "\e65f";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-aixin:before {
  content: "\e65c";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-people_number:before {
  content: "\e60d";
}
