@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1670574827664') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maikefeng:before {
  content: "\e65f";
}

.icon-gengduo:before {
  content: "\e602";
}

.icon-fenlei2:before {
  content: "\e606";
}

.icon-xin:before {
  content: "\e607";
}

.icon-shezhi:before {
  content: "\e608";
}

.icon-tupian:before {
  content: "\e609";
}

.icon-tishi:before {
  content: "\e60a";
}

.icon-fangdajing:before {
  content: "\e60b";
}

.icon-guanbi:before {
  content: "\e60c";
}

.icon-shuaxin:before {
  content: "\e60d";
}

.icon-zhankai:before {
  content: "\e60e";
}

.icon-shouqi:before {
  content: "\e60f";
}

.icon-saoyisao:before {
  content: "\e611";
}

.icon-lianjie:before {
  content: "\e612";
}

.icon-lajitong:before {
  content: "\e613";
}

.icon-zuobian:before {
  content: "\e614";
}

.icon-youbian:before {
  content: "\e615";
}

.icon-xiabian:before {
  content: "\e616";
}

.icon-shangbian:before {
  content: "\e617";
}

.icon-zuji:before {
  content: "\e618";
}

.icon-fenlei:before {
  content: "\e61a";
}

.icon-gouwuche:before {
  content: "\e61b";
}

.icon-zhiding:before {
  content: "\e61c";
}

.icon-geren:before {
  content: "\e61d";
}

.icon-geren1:before {
  content: "\e61e";
}

.icon-fenxiang:before {
  content: "\e620";
}

.icon-fenxiang2:before {
  content: "\e621";
}

.icon-dingwei:before {
  content: "\e626";
}

.icon-quanbu:before {
  content: "\100ef";
}

