.page {
  .flex {
    //
    .menu_wrap {
      position: absolute;
      top: 0px;
      left: 15px;
      font-size: 0;
      bottom: -2px;
      // width: 150px;
      border: 1px solid #eaeaeb;
      border-radius: 40px;
    }
    .capsule {
      box-sizing: border-box;
      font-size: 0;
      .back {
        .iconfont {
          font-size: 36px;
        }
      }
      .home {
        .iconfont {
          font-size: 40px;
        }
      }
      .button {
        display: inline-block;
        padding: 0 18px;
        box-sizing: border-box;
      }
      // button::after {
      //   // border: none;
      // }
      .line {
        display: inline-block;
        width: 1px;
        height: 36px;
        background: #eaeaeb;
        // transform: scale(0.5);
      }
    }
  }
  .search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // background: rgb(200, 165, 236);
    font-size: 0;
    .input_wrap {
      display: flex;
      align-items: flex-end;
      position: relative;
      padding: 0 20px;
      height: 100px;
      line-height: 100px;
      z-index: 10;
      background: #ffffff;
      position: fixed;
      left: 0;
      right: 0;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        bottom: 0;
        height: 1px;
        background-color: #e3e5e9;
        transform: scale(1, 0.5);
      }
      .input {
        flex: 1 1;
        margin-left: 15px;
        margin-top: 20px;
        height: 80px;
        font-size: 38px;
      }
      .clear {
        display: flex;
        align-items: center;
        margin-left: 15px;
        height: 100%;
        padding-top: 15px;
        box-sizing: border-box;
        .icon {
          height: 100%;
          font-size: 36px;
          color: #cdc7d0;
        }
      }
      // 下面两者 padding-right 需要相同
      .submit {
        color: rebeccapurple;
        padding: 15px 15px 0 15px;
        margin-left: 15px;
        box-sizing: border-box;
        height: 100%;
        font-size: 36px;
      }
      .cancel {
        padding: 15px 15px 0 15px;
        box-sizing: border-box;
        height: 100%;
        font-size: 36px;
      }
    }
    .size_block {
      width: 100%;
      height: 100px;
    }
    .result_wrap {
      padding-bottom: 6px;
      background: #ffffff;
      z-index: 2000;
      .link_list {
        box-shadow: 0 2px 18px #d2d5dc;
        .item {
          padding: 0 40px;
          height: 100px;
          line-height: 100px;
          font-size: 38px;
        }
      }
    }
    .food_list {
      background: #ffffff;
      .tab {
        display: flex;
        justify-content: space-between;
        height: 80px;
        line-height: 80px;
        margin: 0 35px;
        background: #ffffff;
        transition: all 0.15s;
        position: fixed;
        left: 0;
        right: 0;
        .item {
          font-size: 28px;
          color: rgb(94, 92, 95);
        }
        .actived {
          color: rebeccapurple;
        }
      }
      .show {
        position: fixed;
        height: 80px;
      }
      .hide {
        height: 0px;
        position: absolute;
      }
      .list {
        // height: 100vh;
        // overflow: scroll;
        padding-top: 80px;
        margin: 0 35px;
        padding-bottom: 100px;
        .item {
          font-size: 36px;
          background-color: #f78f8f;
          margin: 15px 0;
          padding: 100px 0;
        }
      }
    }
  }
  .size_block {
    width: 100%;
    height: 100px;
  }
}
