// ESLint 检查 .vue 文件需要单独配置编辑器：
// https://eslint.vuejs.org/user-guide/#editor-integrations
{
  "extends": [
    "taro/vue3",
    "prettier"
  ],
  "rules": {
    "vue/multi-word-component-names": [
      "error",
      {
        "ignores": [
          "Counter"
        ]
      }
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}