.page {
  .flex {
    .search {
      display: none;
      opacity: 0;
      transition: "all" 0.6s ease-in-out;
    }
    .show {
      display: block;
      opacity: 1;
    }
  }
  .input {
    margin: 80px 25px;
    background: rgb(242 242 242);
    border-radius: 45px;
    .flex {
      display: flex;
      justify-content: center;
      // padding: 15px 0;
      height: 90px;
      line-height: 90px;
      font-size: 45px;
      .icon {
        padding-right: 20px;
        color: #c8c6c6;
      }
      .text {
        color: rgb(130, 126, 133);
      }
    }
  }
  .hi {
    margin: 30px 25px;
    text-align: center;
    font-size: 50px;
    color: rgb(42, 36, 49);
  }
  .voice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 25px 80px 25px;
    padding: 40px 0;
    border-radius: 40px;
    background: rgb(242 242 242);
    .desc {
      font-size: 40px;
      color: rgb(42, 36, 49);
    }
    .ps {
      padding-top: 10px;
      padding-bottom: 25px;
      font-size: 28px;
      color: rgb(133, 129, 138);
    }
    .icon {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      font-size: 120px;
      text-align: center;
      line-height: 160px;
      background: rebeccapurple;
      color: #ffffff;
    }
  }
  .food_class_wrap {
    margin: 0 25px;
    padding-bottom: 120px;
  }
  .search_wrap {
    position: fixed;
    left: 25px;
    right: 25px;
    bottom: -90px;
    transition: all 0.15s ease-in-out;
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(229, 221, 237);
      color: rebeccapurple;
      border-radius: 45px;
      height: 80px;
      font-size: 40px;
    }
    .count {
      margin-left: 10px;
      padding: 3px 10px;
      border-radius: 20px;
      background: rebeccapurple;
      color: #ffffff;
      font-size: 24px;
    }
  }
  .show {
    bottom: 30px;
    // opacity: 1;
  }
}
