.page {
  padding-bottom: env(safe-area-inset-bottom);
  image {
    width: 100%;
    height: calc(100vw * 7 / 6);
  }
  .food_title {
    width: 100%;
    text-align: center;
    .title {
      width: 100%;
      word-break: break-all;
      font-size: 45px;
      margin-bottom: 20px;
    }
    .desc_wrap {
      font-size: 28px;
      margin: 0 25px;
      padding-top: 15px;
      padding-bottom: 45px;
      border-bottom: 1px solid #eee;
      .dot {
        margin: 0 10px;
      }
    }
  }
  .member_wrap {
    .list {
      width: 100%;
      padding: 35px;
      box-sizing: border-box;
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .content {
          display: flex;
          align-items: center;
          width: 100%;
          .img {
            flex: 0 0 150px;
            height: 150px;
            image {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-image: url("https://cdn.coldqiu.com/69eea64c6fdd43bd882f64bb016f1275.jpeg");
              background-size: cover;
              background-position: center;
            }
          }
          .name {
            margin: 0 20px;
          }
        }
        .follow {
          padding: 8px 25px;
          border: 1px solid rgb(204, 167, 241);
          border-radius: 10px;
          color: rgb(136, 46, 226);
        }
      }
      .desc {
        margin-top: 15px;
        line-height: 1.5;
        color: rgb(71, 69, 72);
      }
    }
  }
  .materials_wrap {
    // border-bottom: 1px solid rgb(242, 242, 242);
    .title {
      display: flex;
      justify-content: space-between;
      margin: 40px 35px;
      font-size: 45px;
      .text {
        font-size: 50px;
      }
      .button {
        border: 1px solid rgb(225, 219, 231);
        width: 220px;
        border-radius: 110px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
        color: rebeccapurple;
        font-size: 26px;
      }
    }
    .list {
      margin: 35px;
      .item {
        display: flex;
        padding: 32px 0;
        border-top: 1px solid rgb(242, 242, 242);
        .name {
          flex: 1;
        }
        .num {
          flex: 0 0 240px;
        }
      }
    }
  }
  .step_wrap {
    padding-bottom: 100px;
    .list {
      .item {
        padding: 0 35px;
        border-top: 1px solid rgb(242, 242, 242);
        .title {
          font-size: 45px;
          padding: 25px 0;
        }
        .img {
          width: calc(100wv - 70px);
          // height: calc(100wv - 70px);
          padding-bottom: 100%;
          background: rgb(244, 243, 245);
          border-radius: 20px;
        }
        .desc {
          padding: 25px 0;
        }
      }
    }
    .tips {
      margin: 50px 35px;
      .title {
        margin: 35px 0;
        font-size: 45px;
      }
    }
  }
  .bottom_fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: #ffffff;
    border-top: 1px solid rgb(214, 205, 205);
    padding-bottom: env(safe-area-inset-bottom);
    .flex {
      display: flex;
      align-items: center;
      height: 100px;
      .item {
        flex: 1;
        height: 100px;
        line-height: 100px;
        .iconfont {
          font-size: 50px;
          color: rgb(125, 125, 125);
        }
        .text {
          vertical-align: top;
          margin-left: 10px;
          font-size: 24px;
        }
        .actived {
          color: rgb(226, 46, 46);
        }
      }
    }
  }
}
