.food_class {
  .wrap {
    margin-bottom: 35px;
    color: rgb(42, 36, 49);
    background: rgb(242 242 242);
    border-radius: 45px;
    padding-bottom: 20px;
    .title {
      text-align: center;
      padding: 40px 0;
      font-size: 36px;
      color: rgb(42, 36, 49);
    }
    .list {
      padding: 0 20px;
      .item {
        display: inline-block;
        height: 70px;
        line-height: 70px;
        padding: 0 20px;
        border-radius: 25px;
        background: #ffffff;
        margin: 0 15px 25px 15px;
        font-size: 32px;
      }
      .checked {
        background: rebeccapurple;
        color: #ffffff;
      }
    }
  }
}
