.flex {
  .title {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 195px;
    box-sizing: border-box;
  }
  .menu_wrap {
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 0;
    bottom: -2px;
  }
  .capsule {
    border: 0.5PX solid rgba(0,0,0,0.1);
    border-radius: 40px;
    box-sizing: border-box;
    height: 100%;
    font-size: 0;
    .back {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      .iconfont {
        font-size: 36px;
      }
    }
    .home {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      .iconfont {
        font-size: 40px;
      }
    }
    .button {
      vertical-align: top;
      display: inline-block;
      height: 100%;
      width: 85px;
      box-sizing: border-box;
    }
    .hover_class_home {
      background: #eee;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
    }
    .hover_class_back {
      background: #eee;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }
    .line {
      display: inline-block;
      vertical-align: middle;
      width: 0.5PX;
      height: 60%;
      background: rgba(0,0,0,0.1);
    }
  }
}
