// 使用“得意黑”字体
@font-face {
  font-family: "dyh";
  src: url("./static/fonts/SmileySans-Oblique.ttf.woff2");
}

.page {
  font-family: "dyh";
  // position: relative;
  // height: 100%;
  // filter: grayscale(0.95);
  .flex {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    .search {
      position: absolute;
      top: 0;
      left: 30px;
      padding-right: 5px;
    }
  }
}
